<h1>Postagens</h1>
<hr>
<a href="/admin/postagens/add">
<button class="btn btn-success">Nova Postagem</button>
</a>
<a href='/admin/postagens/lista'>
    <button class="btn btn-success">Ver todas as Postagens</button>
</a>